body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=900&q=60");
    font-family: sans-serif;
    background-size: cover;
    overflow: hidden;
}
h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);


}
.clock{
    display:flex ;

}
.clock div{
    margin:5px;

}
.clock span{
    width: 100px;
    height: 80px;
    background-color: sienna;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);

}
.clock .text{
    height: 30px;
    font-size:14px ;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:  saddlebrown;

}
.clock #ampm{
    
    
    width: 60px;
    height: 30px;
    font-size: 20px;
    background:black;
    color: white;
}